/* font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Sonsie+One&display=swap');

/* this only applies to screens wider than 800px */
@media only screen and (min-width: 800px) {
  .App {
  background-color: magenta;
  }
}

/* here we declare our variables to be used throughout the file */
:root {
  --display: 'Sonsie One', cursive;
  --copy: 'Open Sans', sans-serif; 
}

/* sensible defaults */
* {
  box-sizing: border-box;
  align-self: center;
  margin: 0px;
  padding: 0px;
}

/* this styles the main app container located in app.js */
.App {
  max-height: 100vh;
  min-height: 100vh;
  /* this is something that I don't quite understand but it makes font size more consistent among viewing sizes (phone, desktop, etc.) */
  font-size: calc(10px + 2vmin);
  color: black;
  position: relative;
  overflow: hidden;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F4.bp.blogspot.com%2F-3ZLViE9YgwY%2FUfpgFrefuiI%2FAAAAAAAAHhM%2FzEn3qCzk9Jg%2Fs1600%2Fsunshine_145918109.jpg&f=1&nofb=1');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hidden {
  display: none;
}

h1, h2, h3 {
  font-family: var(--display);
}

p {
  font-family: var(--copy);
}

/* since we set up each component class to have a root of <main>, we can style them all here and have a consistent experience throughout the app */
main {
  /* this constrains the size to the height of the viewport */
  max-height: 100vh;
  /* if there is more content that fits in the height, it will be scrollable */
  overflow: auto;
  padding: 20px;
  padding-bottom: 40px;
}

@keyframes sunny-gradient-spin {
  /* we'll use these later */
}

.spinner{
  width: 100%;
}

form {
  max-width: 100%;
}

/* this sets up some defaults */
select, button, input, a {
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

input::placeholder {
  color: white;
}

input, button {
  background-color: gold;
  border: 3px solid white;
}

button {
  font-weight: bold;
  color: darkgoldenrod;
}

select {
  width: 33%;
  font-size: 1em;
  color: goldenrod;
}

.search-results-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* border-radius: 20px; */
  overflow: auto;
  background-color: white;
  padding: 20px;
  align-items: center;
  max-height: 75vh;
}

.search-location {
  border: solid 3px gold;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  color: goldenrod;
  /* border-radius: 20px; */
  /* cursor: pointer;
  transition: .2s ease-in-out; */
}

.welcome {
  max-height: 65vh;
  overflow: auto;
  padding: 20px;
}

/* .search-location:hover {
  transform: scale(1.5);
} */

.sort-by {
  font-style: italic;
}

.hawaii {

}

.no-results {

  
}

.details-con {
    border: solid 2px black;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    background-color: pink;
    display: grid;
    text-align: center;

}